<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MusicBox</title>
    <link rel="stylesheet" href="assets/css/home.min.css">
</head>
<body>
    <div class="container">
        <h1>Music Box</h1>
        <div class="line-title">
            <h3>Rock</h3>
        </div>
        <div class="line">
            <div class="post">
                <img src="assets/images/artist/metallica/metallica.jpg" alt="">
                <div class="post-s">
                    <a href="assets/templates/metallica.html">
                        <h2>Metallica</h2>
                        <h4>Enter sandman</h4>
                    </a>
                </div>
            </div>
            <div class="post">
                <img src="assets/images/artist/guns/bg.png" alt="">
                <div class="post-s">
                    <a href="assets/templates/guns.html">
                        <h2>Guns N' Roses</h2>
                        <h4>Music</h4>
                    </a>
                </div>
            </div>
            <div class="post">
                <img src="assets/images/artist/pinkfloyd/bg.jpg" alt="">
                <div class="post-s">
                    <a href="assets/templates/pf.html">
                        <h2>Pink Floyd</h2>
                        <h4>Music</h4>
                    </a>
                </div>
            </div>
            <div class="post">
                <img src="assets/images/artist/led/bg.png" alt="">
                <div class="post-s">
                    <a href="assets/templates/led.html">
                        <h2>Led Zeppelin</h2>
                        <h4>Music</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="line-title">
            <h3>Eletrônicas</h3>
        </div>
        <div class="line">
            <div class="post">
                <img src="assets/images/artist/johanglossner/bg.jpg" alt="">
                <div class="post-s">
                    <a href="assets/templates/johan.html">
                        <h2>Johan Glossner</h2>
                        <h4>Turn it up ahlstrom - remix</h4>
                    </a>
                </div>
            </div>
            <div class="post">
                <img src="assets/images/artist/syncole/bg.jpg" alt="">
                <div class="post-s">
                    <a href="assets/templates/syn.html">
                        <h2>Syn Cole</h2>
                        <h4>Feel Good</h4>
                    </a>
                </div>
            </div>
            <div class="post">
                <img src="assets/images/artist/eletroL/bg.jpg" alt="">
                <div class="post-s">
                    <a href="assets/templates/eletroL.html">
                        <h2>Eletro-Light</h2>
                        <h4>Simbolism</h4>
                    </a>
                </div>
            </div>
            <div class="post">
                <img src="assets/images/artist/kozah/bg.jpg" alt="">
                <div class="post-s">
                    <a href="assets/templates/kozah.html">
                        <h2>Kozah</h2>
                        <h4>Heavens</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="line-title">
            <h3>Rap</h3>
        </div>
        <div class="line">
            <div class="post">
                <img src="assets/images/artist/projota/bg.jpg" alt="">
                <div class="post-s">
                    <a href="assets/templates/projota.html">
                        <h2>Projota</h2>
                        <h4>Muleque de vila - ao vivo</h4>
                    </a>
                </div>
            </div>
            <div class="post">
                <img src="assets/images/artist/haikaiss/bg.jpg" alt="">
                <div class="post-s">
                    <a href="assets/templates/haikaiss.html">
                        <h2>Haikaiss</h2>
                        <h4>Rap Lord</h4>
                    </a>
                </div>
            </div>
            <div class="post">
                <img src="" alt="">
                <div class="post-s">
                    <a href="">
                        <h2>Artist</h2>
                        <h4>Music</h4>
                    </a>
                </div>
            </div>
            <div class="post">
                <img src="" alt="">
                <div class="post-s">
                    <a href="">
                        <h2>Artist</h2>
                        <h4>Music</h4>
                    </a>
                </div>
            </div>

        </div>   
    </div>

    <script src="assets/js/home.min.js"></script>
</body>
</html>