<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Led Zeppelin</title>
    <link rel="stylesheet" href="../css/metallica.min.css">
</head>
<body>
    <div class="container">
        <div class="titulo">
            <h1>Led Zeppelin</h1>
        </div>

        <p class="music">Rock and Roll</p>

        <div class="slide">
            <div class="slideshow" id="slideshow">
                <div class="slideshow_area">
                    <div class="slides" style="background-image: url('../../assets/images/artist/led/bg.jpg');">
                        <p class="textos">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae quibusdam accusamus dicta officia blanditiis modi commodi adipisci tempora quia vero maiores optio ullam unde totam ex, molestiae libero quidem praesentium.</p>
                    </div>

                    <div class="slides">
                        <p class="textos">Slide 02</p>
                    </div>
                    <div class="slides">
                        <p class="textos">Slide 03</p>
                    </div>
                    <div class="slides">
                        <p class="textos">Slide 04</p>
                    </div>
                    <div class="slides">
                        <p class="textos">Slide 05</p>
                    </div>
                    <div class="slides">
                        <p class="textos">Slide 06</p>
                    </div>
                    <div class="slides" style="background-image: url('../../assets/images/artist/led/bg.jpg');">
                        <p class="textos">Slide 07</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="audio">
            <audio controls="" autoplay preload="auto" loop src="../../assets/musics/Rock And Roll.mp3"></audio>
        </div>

        <a class="home" href="../../home.html">Home</a>

        <div class="footer">
            <p>Para maiores informações visite: <a href="" target="blank">Metallica - Wikipédia</a></p>
            <div class="by">
                <p>By: AlmeidaFabiO</p>
            </div>
        </div>
    </div>

    <script src="../js/home.min.js"></script>
</body>
</html>