<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metallica</title>
    <link rel="stylesheet" href="../css/metallica.min.css">
</head>
<body>
    <div class="container">
        <div class="topo">
            <div class="by">
                <p>By: AlmeidaFabiO</p>
            </div>
            <div class="titulo">
                <h1>Metallica</h1>
            </div>
            <div class="audio">
                <audio controls="" autoplay preload="auto" loop src=""></audio>
            </div>
        </div>

        <a class="home" href="../../home.html">Home</a>

        <div class="slide">
            <div class="slideshow" id="slideshow">
                <div class="slideshow_area">
                    <div class="slides textos">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae quibusdam accusamus dicta officia blanditiis modi commodi adipisci tempora quia vero maiores optio ullam unde totam ex, molestiae libero quidem praesentium.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>Para maiores informações visite: <a href="" target="blank">Metallica - Wikipédia</a></p>
        </div>
    </div>

    <script src="./assets/js/home.min.js"></script>
</body>
</html>